.header-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px 40px 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.lista-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.lista-item a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.lista-item a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: absolute;
  background: white;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.lista-item a:hover {
  
}
